


.dashboard-flex{

display: flex;
// align-items: center;
// justify-content: space-between;

}
.right{

    // margin-top: 80px;
    margin-left: 20%;
    // display: grid;
    // place-items: center;
    height: 100vh;
}