.myprofilee {
  padding-top: 100px;
}
.myprofilee .header {
  padding: 20px 40px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.myprofilee .header .profilephoto {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.myprofilee .header .profilephoto p {
  font-weight: 600;
  position: absolute;
  bottom: -30px;
  right: 10px;
}
.myprofilee .header .profilephoto div {
  position: relative;
}
.myprofilee .header .profilephoto div .photo {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}
.myprofilee .header .profilephoto div .photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.myprofilee .header .profilephoto div label {
  position: absolute;
  bottom: 0;
}
.myprofilee .header .profilephoto div label div {
  border: solid 2px #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #86b7fe;
  display: grid;
  place-items: center;
}
.myprofilee .header .profilephoto div label input {
  display: none;
}
.myprofilee .header .data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.myprofilee .middle {
  margin-top: 60px;
  margin-right: 40px;
}
.myprofilee .middle div {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
.myprofilee .middle div p {
  background-color: #86b7fe;
  border-radius: 10px;
  padding: 1px 10px;
  color: #fff;
}
.myprofilee .footer {
  margin-top: 40px;
  border-top: solid 1px rgba(134, 182, 254, 0.1921568627);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  padding-top: 2px;
  gap: 2px;
}
.myprofilee .footer div {
  width: 190px;
  max-width: 250px;
  max-height: 250px;
  flex-grow: 1;
  overflow: hidden;
}
.myprofilee .footer div img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.myprofilee .loadingfooter {
  margin-top: 40px;
  border-top: solid 1px rgba(134, 182, 254, 0.1921568627);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  padding-top: 2px;
  gap: 1px;
}
.myprofilee .loadingfooter div {
  width: 190px;
  max-width: 300px;
  height: 250px;
  background-color: rgba(128, 128, 128, 0.089);
  flex-grow: 1;
  overflow: hidden;
}

@media (max-width: 499px) {
  .myprofilee .header {
    width: 100% !important;
    padding: 0px 0px;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-right: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    flex-wrap: wrap;
  }
  .myprofilee .header .profilephoto {
    flex-shrink: 0;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .myprofilee .header .profilephoto p {
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    right: 0px;
    position: absolute;
    text-align: center;
  }
  .myprofilee .header .profilephoto div {
    position: relative;
    width: 100%;
  }
  .myprofilee .header .profilephoto div .photo {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
  }
  .myprofilee .header .profilephoto div .photo img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .myprofilee .header .data {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .myprofilee .header .data p {
    font-size: 14px;
    font-weight: 600;
  }
  .myprofilee .header .l {
    padding-left: 9px;
  }
  .myprofilee .middle {
    margin-top: 0px;
    margin-right: 20px;
  }
  .myprofilee .middle div {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
  }
  .myprofilee .middle div p {
    background-color: #86b7fe;
    border-radius: 10px;
    padding: 1px 10px;
    color: #fff;
  }
  .myprofilee .footer {
    margin-top: 20px;
    border-top: solid 1px rgba(134, 182, 254, 0.1921568627);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    padding-top: 2px;
    gap: 2px;
  }
  .myprofilee .footer div {
    width: 100px;
    max-width: 250px;
    max-height: 180px;
    flex-grow: 1;
    overflow: hidden;
  }
  .myprofilee .footer div img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    width: 100%;
    height: 100%;
  }
  .myprofilee .loadingfooter {
    margin-top: 40px;
    border-top: solid 1px rgba(134, 182, 254, 0.1921568627);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    padding-top: 2px;
    gap: 1px;
  }
  .myprofilee .loadingfooter div {
    width: 100px;
    max-height: 100px;
    background-color: rgba(128, 128, 128, 0.089);
    flex-grow: 1;
    overflow: hidden;
  }
}/*# sourceMappingURL=myprofile.css.map */